    @import "src/assets/scss/variables";
    @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
     :host {
        width: 100%;
        .login-wrapper {
            height: 100%;
            .login-container {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative !important;
                margin: 0 auto !important;
                float: none !important;
                width: 496px;
            }
            .login-content {
                border: 1px solid #ccc;
                background: #fff;
                border-radius: 7px;
                width: 580px;
                padding: 70px;
            }
        }
        .login-wrapper>* {
            height: 100%;
        }
        .btn-primary {
            background-color: #7d19ce;
            border-color: #7d19ce;
        }
        a {
            color: #7d19ce;
        }
    }